{% extends 'base_auth.html' %}
{% load static %}

{% block title %} SignIn {% endblock %}

{% block content %}
    <div class="auth-content">
        <div class="text-center">
            <h5 class="mb-0">Welcome Back !</h5>
            <p class="text-muted mt-2">Sign in to continue to PowurHouz</p>
        </div>
        <form class="mt-4 pt-2" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="alert alert-danger" role="alert">Your email & password not match.</p>
            {% endif %}
            <div class="mb-3">
                <label class="form-label">Email address</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <label class="form-label">Password</label>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="">
                            <a href="{% url 'reset_password' %}" class="text-muted">Forgot password?</a>
                        </div>
                    </div>
                </div>
                <div class="input-group auth-pass-inputgroup">
                    {{ form.password }}
                    <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon"><i
                            class="mdi mdi-eye-outline"></i></button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-check">
                        {{ form.remember_me }}
                        <label class="form-check-label" for="remember-check"> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log In</button>
            </div>
        </form>
    </div>
    <div class="mt-5 text-center">
        <p class="text-muted mb-0">Don't have an account ?
            <a href="{% url 'signup' %}" class="text-primary fw-semibold"> Signup now </a></p>
    </div>
{% endblock %}
