{% extends 'base_auth.html' %}

{% block title %} Password set {% endblock %}

{% block content %}
    <div class="auth-content">
        <div class="text-center">
            <h5 class="mb-0">Set Password</h5>
            <p class="text-muted mt-2">Set password with PowurHouz.</p>
        </div>
        <form class="mt-4" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="alert alert-danger" role="alert">Sorry! Password not match.</p>
            {% endif %}
            <div class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <label class="form-label">New Password</label>
                    </div>
                </div>
                <div class="input-group auth-pass-inputgroup">
                    <input type="password" class="form-control" name="new_password1" id="new_password1"
                           placeholder="Enter new password" required>
                    <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon"><i
                            class="mdi mdi-eye-outline"></i></button>
                </div>
            </div>
            <div class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <label class="form-label">Confirm Password</label>
                    </div>
                </div>
                <div class="input-group auth-pass-inputgroup">
                    <input type="password" class="form-control" name="new_password2" id="new_password2"
                           placeholder="Enter confirm password" required>
                    <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon2"><i
                            class="mdi mdi-eye-outline"></i></button>
                </div>
            </div>
            <div class="mb-3 mt-4">
                <button type="submit" class="btn btn-primary w-100 waves-effect waves-light">Set password</button>
            </div>
        </form>
        <div class="mt-5 text-center">
            <p class="text-muted mb-0">Wait, I remember my password... <a href="{% url 'signin' %}"
                                                                          class="text-primary fw-semibold"> Sign In </a>
            </p>
        </div>
    </div>
{% endblock %}
