// Slide
.slide {
    background: url(https://res.cloudinary.com/mbrsagor/image/upload/v1592588415/home-v6_slide2_vzalmy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.slide .slide_content{
    margin-left: 37%;
}
