/* Start normalize */
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

$help_bg: #F7F7F7;
$common_color: #ECF0F6;
$font_color: #4b4c4c;
$primary_color: #3C8DBC;
$secondary_color: #3178a0;
$border_color1: #377ca5;


a {
    text-decoration: none;
    transition: .6s;
}

 a:hover {
    text-decoration: none;
    color: $font_color;
}


link {
    text-decoration: none;
    transition: .6s;
}

link:hover {
        text-decoration: none;
        color: #666666
    }

table,
tr,
th,
td {
    padding: 0;
    margin: 0
}

button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

input:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.fix_height {
    min-height: 100vh !important;
}


.modal-dialog {
    margin: 20vh auto 0px auto
}

.custom_model_title {
    font-size: 17px;
}

.error_404 {
    margin:  200 auto;
    width: 400px;
}

.swal-button {
    padding: 5px 10px;
    font-size: 13px;
}

.swal-footer {
    text-align: center !important;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* End normalize */



// Spinner Start
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

// Spinner End


body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    color: $font_color;
    font-weight: 300;
    background: $common_color;
}

// Header
header {
    background: $primary_color;
    a {
        color: #ffffff !important;
        transition: .6s;
    }
    .navbar-text a {
        font-size: 13px;;
    }
    .navbar-text a:hover{
        text-decoration: none;
        padding-left: 2px;
    }
    .navbar-text svg {
        margin-top: -3px;
        width: 18px;
        height: 18px;
    }
}

// Sidebar
.sidebar_bg_color {
    background: $secondary_color;
}
.main_sidebar {
    height: 100%;
    nav {
        border-top: 2px solid $border_color1;
    }
    nav ul li {
        padding: 10px 0;
        margin-bottom: 5px;
    }
    nav ul li svg {
        width: 16px;
        height: 16px;
        margin-top: -3px;
    }
    nav ul li:hover {
        background: $primary_color;
    }
    nav ul li a{
        color: #ffffff;
        padding-left: 15px;
        font-size: 14px;
    }
    nav ul li a:hover {
        text-decoration: none;
    }

    nav ul .activeMenuItem {
        background: $primary_color;
    }
}
// Footer
footer {
    a{
        color: $primary_color;
    }
    a:hover {
            text-decoration: none;
        }
    p {
        margin-bottom: 0;
    }
}
.footer_child {
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 -5px 5px -5px #333;
}


// Page
.page_title a{
    color: $font_color;
}

.page_title a:hover{
    text-decoration: none;
}

// Report list
.report_list ul li span{
    float: right;
    padding: 1px 6px;
    border-radius: 6px;
}

// Help Line
.help_by_category h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.help_category {
    background: $help_bg;
    min-height: 100px;
    transition: .6s;
    svg {
        color: $primary_color;
        margin-top: 40px;
    }
    h5 {
        margin: 0;
        font-size: 15px;
        padding: 5px 0;
    }
    p {
        padding-bottom: 40px;
        font-size: 13px;
    }
}

.help_category:hover {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

// Table
.table_custom_class {
    background: $help_bg;
    padding: 3px;
    margin: 10px 0;

    .image_in_table {
        width: 40px;
        height: auto;
    }
}

.data_table_list svg {
    width: 16px;
    height: 16px;
}
