{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} {% endblock %} || PowurHouz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Powurhouz portal web application" name="description"/>
    <meta content="Powurhouz" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.jpg' %}">
    {% include 'styles.html' %}
    <style>
        .bg-overlay {
            opacity: .8 !important;
            background: rgb(41 37 98) !important;
        }
    </style>
</head>

<body>
<!-- <body data-layout="horizontal"> -->
<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-3 col-lg-4 col-md-5">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a href="/" class="d-block auth-logo">
                                    <img src="{% static 'assets/images/logo.jpg' %}" alt="" height="50">
                                </a>
                            </div>
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
            </div>
            <!-- end col -->
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay bg-primary"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- end bubble effect -->
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-7">
                            <div class="p-0 p-sm-4 px-xl-0">
{#                                <div id="carousel" class="carousel slide" data-bs-ride="carousel">#}
{#                                    <div class="carousel-inner">#}
{#                                        {% if carousels %}#}
{#                                            {% for obj in carousels %}#}
{#                                                <div class="carousel-item {% if obj.is_running %} active {% else %} {% endif %}">#}
{#                                                    <div class="testi-contain text-white">#}
{#                                                        <i class="bx bxs-quote-alt-left text-success display-6"></i>#}
{#                                                        <h4 class="mt-4 fw-medium lh-base text-white">#}
{#                                                            “{{ obj.description }}”#}
{#                                                        </h4>#}
{#                                                        <div class="mt-4 pt-3 pb-5">#}
{#                                                            <div class="d-flex align-items-start">#}
{#                                                                {% if obj.avatar %}#}
{#                                                                    <div class="flex-shrink-0">#}
{#                                                                        <img src="{{ obj.avatar.url }}"#}
{#                                                                             class="avatar-md img-fluid rounded-circle"#}
{#                                                                             alt="...">#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                                <div class="flex-grow-1 ms-3 mb-4">#}
{#                                                                    <h5 class="font-size-18 text-white">{{ obj.name }}</h5>#}
{#                                                                    <p class="mb-0 text-white-50">{{ obj.designation }}</p>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                    <!-- end carousel-inner -->#}
{#                                </div>#}
                                <!-- end review carousel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container fluid -->
</div>
<!-- JAVASCRIPT -->
{% include 'scripts.html' %}
</body>
</html>
