{% load static %}
<div class="navbar-header">
    <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <a href="{% url 'dashboard' %}" class="logo logo-dark">
                <span class="logo-sm">
                    <img src="{% static 'assets/images/favicon.jpg' %}" alt="" height="35">
                </span>
                <span class="logo-lg">
                    <img src="{% static 'assets/images/logo.jpg' %}" alt="" height="50">
                </span>
            </a>
        </div>
        <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
            <i class="fa fa-fw fa-bars"></i>
        </button>
    </div>
    <div class="d-flex">
        <div class="dropdown d-inline-block">
            <button type="button" class="btn header-item bg-light-subtle border-start border-end"
                    id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if request.user.profile.avatar %}
                    <img class="rounded-circle header-profile-user"
                         src="{{ request.user.profile.avatar.url }}"/>
                {% else %}
                    <img class="rounded-circle header-profile-user"
                         src="{% static 'assets/images/users/avatar-1.jpg' %}"
                         alt="{{ request.user.name }}"/>
                {% endif %}
                <span class="d-none d-xl-inline-block ms-1 fw-medium">{{ request.user.name }}</span>
                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <!-- menus-->
                <a class="dropdown-item" href="{% url 'profile' %}"><i
                        class="mdi mdi mdi-face-man font-size-16 align-middle me-1"></i> Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'password_change' %}"><i
                        class="mdi mdi-key font-size-16 align-middle me-1"></i> Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href=""><i
                        class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
            </div>
        </div>
    </div>
</div>
