<ul class="metismenu list-unstyled" id="side-menu">
    <li>
        <a href="#">
            <i class="mdi mdi-home font-size-18"></i>
            <span data-key="t-dashboard">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);" class="has-arrow">
            <i class="mdi mdi-equal-box font-size-18"></i>
            <span data-key="t-apps">Service</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'create_service' %}">Create Service</a></li>
            <li><a href="{% url 'services' %}" data-key="t-inbox">Services</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);" class="has-arrow">
            <i class="mdi mdi-shopping font-size-18"></i>
            <span data-key="t-apps">Order</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
            <li><a href="#" data-key="t-inbox">Pending Orders</a></li>
            <li><a href="#" data-key="t-inbox">Completed Orders</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);" class="has-arrow">
            <i class="mdi mdi-human-child font-size-18"></i>
            <span data-key="t-apps">User</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'create_user' %}" data-key="t-inbox">Create user</a></li>
            <li><a href="{% url 'users' %}" data-key="t-inbox">Users</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);" class="has-arrow">
            <i class="mdi mdi-sale font-size-18"></i>
            <span data-key="t-apps">Settings</span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
            <li><a href="#">Application Setting</a></li>
            <li><a href="#" data-key="t-inbox">System Setting</a></li>
        </ul>
    </li>
</ul>
