{% load static %}
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<!-- pace js -->
<script src="{% static 'assets/libs/pace-js/pace.min.js' %}"></script>
<!-- apexcharts -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<!-- Plugins js-->
<script src="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- Select2 -->
{#<script src="{% static 'assets/js/extention/select2.min.js' %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- password addon init -->
<script src="{% static 'assets/js/pages/pass-addon.init.js' %}"></script>
<!-- validation init -->
<script src="{% static 'assets/js/pages/validation.init.js' %}"></script>
<!-- dropzone js -->
<script src="{% static 'assets/libs/dropzone/min/dropzone.min.js' %}"></script>
<!-- Chart JS -->
<script src="{% static 'assets/libs/chart.js/chart.umd.js' %}"></script>
<!-- twitter-bootstrap-wizard js -->
<script src="{% static 'assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'assets/libs/twitter-bootstrap-wizard/prettify.js' %}"></script>
<!-- form wizard init -->
<script src="{% static 'assets/js/pages/form-wizard.init.js' %}"></script>
<!-- chartjs init -->
<script src="{% static 'assets/js/pages/chartjs.js' %}"></script>
<!-- modal init -->
{#<script src="{% static 'assets/js/pages/modal.init.js' %}"></script>#}
<!-- extention -->
<script src="{% static 'assets/js/extention/choices.js' %}"></script>
<script src="{% static 'assets/js/extention/flatpickr.js' %}"></script>
<!-- new version CK editor -->
{#<script src="{% static 'assets/js/extention/ckeditor.js' %}"></script>#}
<script src="https://res.cloudinary.com/mbrsagor/raw/upload/v1712643082/ckeditor.js"></script>
<!-- Box slider -->
<script src="{% static 'assets/js/extention/jquery.bxslider.min.js' %}"></script>
<!--ckeditor js-->
{#<script src="{% static 'assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js' %}"></script>#}
<!-- init js -->
{#<script src="{% static 'assets/js/pages/form-editor.init.js' %}"></script>#}
<!-- main app -->
<script src="{% static 'assets/js/app.js' %}"></script>
<!-- custom js -->
<script type="text/javascript">
    // password
    $("#password-addon2").on("click", function () {
        0 < $(this).siblings("input").length && ("password" === $(this).siblings("input").attr("type") ? $(this).siblings("input").attr("type", "input") : $(this).siblings("input").attr("type", "password"))
    });
    $("#password-addon3").on("click", function () {
        0 < $(this).siblings("input").length && ("password" === $(this).siblings("input").attr("type") ? $(this).siblings("input").attr("type", "input") : $(this).siblings("input").attr("type", "password"))
    });

    // Date time
    flatpickr(".datepicker", {
        dateFormat: "m/d/y"
    });
    let btnTypes = document.querySelectorAll('.travel-type-wrap .item')
    for (let i = 0; i < btnTypes.length; i++) {
        btnTypes[i].addEventListener('click', function () {
            for (let i = 0; i < btnTypes.length; i++) {
                btnTypes[i].classList.remove('active')
            }
            btnTypes[i].classList.add('active')
        })
    }

    // Box slider
    $('.bxslider').bxSlider({
        mode: 'fade',
        pager: false,
        controls: false,
        auto: true,
        touchEnabled: false,
    });

    $('.bxslider_details').bxSlider({
        mode: 'fade',
        auto: true,
        pager: false,
    });

    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('.multiple-select').select2({
            placeholder: "-----------",
            allowClear: true
        });
    });

    // New version CK editor
    ClassicEditor
        .create(document.querySelector('#custom_editor'), {
            // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>
