{% load static %}
<!-- plugin css -->
<link href="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"
      rel="stylesheet"
      type="text/css"/>
<!-- preloader css -->
<link rel="stylesheet" href="{% static 'assets/css/preloader.min.css' %}" type="text/css"/>
<!-- Bootstrap Css -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css"/>
<!-- dropzone css -->
<link href="{% static 'assets/libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- twitter-bootstrap-wizard css -->
<link rel="stylesheet" href="{% static 'assets/libs/twitter-bootstrap-wizard/prettify.css' %}">
<!-- Select2 Css -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<!-- Icons Css -->
<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- Bx slider -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<!-- App Css-->
<link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css"/>
{#<link href="{% static 'assets/css/frontend.css' %}" id="app-style" rel="stylesheet" type="text/css"/>#}

<style type="text/css">

    .logo-lg img {
        width: 90%;
    }

    .dropdown_btn {
        padding: 0;
        width: 20px;
        height: 20px;
        margin-right: 5px
    }

    .bx-viewport {
        height: 200px !important;
    }

    .bx-wrapper {
        margin-bottom: 0 !important;
    }

    .header_top {
        font-size: large !important;
    }

    .header_btn {
        position: relative;
        top: 15px;
    }
    .card_custom_bg {
        background: #67668E !important;
    }
    .card_custom_border_color {
        background: #67668E !important;
        box-shadow: 0 0 0 0 transparent !important;
        border: transparent !important;
    }

</style>
