<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <span class="text-white mb-3 lh-1 d-block text-truncate">Total Order</span>
                        <h4 class="mb-3 text-white">
                           <i class="mdi mdi-engine-outline me-3"></i> <span class="counter-value" data-target="{{ engine.count }}">0</span>
                        </h4>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <span class="text-white mb-3 lh-1 d-block text-truncate">Pending Order</span>
                        <h4 class="mb-3 text-white">
                            <i class="mdi mdi-ghost me-3"></i> <span class="counter-value" data-target="{{ distributor.count }}">0</span>
                        </h4>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <span class="text-white mb-3 lh-1 d-block text-truncate">Total Customer</span>
                        <h4 class="mb-3 text-white">
                           <i class="mdi mdi-altimeter me-3"></i> <span class="counter-value" data-target="{{ alternator.count }}">0</span>
                        </h4>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <span class="text-white mb-3 lh-1 d-block text-truncate">Total Income</span>
                        <h4 class="mb-3 text-white">
                           <i class="mdi mdi-gender-non-binary me-3"></i> <span class="counter-value" data-target="{{ systems.count }}">0</span>
                        </h4>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row-->
