<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">List of latest engines</h4>
            </div>
            {% if engine %}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered border-success mb-0">
                            <thead>
                            <tr>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Displacement</th>
                                <th>Frequency</th>
                                <th>Piston speed</th>
                                <th>Created At</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in engine %}
                                <tr>
                                    <td>{{ obj.manufacturer }}</td>
                                    <td>{{ obj.model }}</td>
                                    <td>{{ obj.displacement }}</td>
                                    <td>{{ obj.frequency }}</td>
                                    <td>{{ obj.piston_speed }}</td>
                                    <td>{{ obj.created_at|date:'D M Y' }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success card_custom_border_color btn-sm" href="{% url 'engine_details' obj.pk %}">
                                            <i class="mdi mdi-eye"></i>
                                        </a>
                                        <a class="btn btn-success card_custom_border_color btn-sm" href="{% url 'engine_update' obj.pk %}">
                                            <i class="mdi mdi-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="text-center"><p>No engine yet</p></div>
            {% endif %}
            <!-- end card body -->
        </div>
    </div>
</div>
